<!-- this code stolen from talon -->

<!DOCTYPE html>
<html>
<head>
<title>BetterDictate WebSpeech Proxy</title>
<script type="text/javascript">
  let active = false;
  let SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  if (!SpeechRecognition) {
    document.write("This browser does not appear to support Web Speech.<br/>");
  } 
  else {
    let final = "";
    
    function connect() {
      let ws = new WebSocket('ws://localhost:5679/');
      ws.onopen = function(e) {
        textconnected.innerText = "ws: connected";
        texterror.innerText = "";
        ws.send(JSON.stringify({"cmd": "hello"}));
      }
      ws.onclose = function(e) {
        active = false;
        textconnected.innerText = "ws: disconnected";
        speech.stop();
      }
      ws.onerror = function(e) {
        texterror.innerText = "cannot connect to server (it may not be running, or you may have more than one WebSpeech page open)";
        speech.stop();
      }
      ws.onmessage = function(e) {
        console.log(e);
        let data = JSON.parse(e.data);
        if (data.cmd == "start") {
          if (! active) {
            active = true;
            speech.start();
          }
        } 
        else if (data.cmd == "stop") {
          active = false;
          speech.stop();
        } 
        else if (data.cmd == "reload") {
          window.location.reload();
        }
      }
      return ws;
    }

    let ws;
    function reconnect() {
      ws = connect();
      ws.addEventListener('close', function(e) {
        setTimeout(reconnect, 500);
      });
    }
    reconnect();

    let speech = new SpeechRecognition();
    speech.lang = 'en-US';
    speech.continuous = true;
    speech.interimResults = true;

    speech.onstart = function(e) {
      if (final) final += " ";
      textrecording.innerText = "webspeech: recording";
      textrecording.style.color = "blue";
      ws.send(JSON.stringify({"cmd": "start"}));
    }
    speech.onend = function(e) {
      textrecording.innerText = "webspeech: not recording";
      textrecording.style.color = "red";
      ws.send(JSON.stringify({"cmd": "end"}));
      setTimeout(function() {
        if (active) {
          speech.start();
        }
      }, 250);
    }
    speech.onerror = function(e) {
      texterror.innerText = `webspeech error: ${e.error}`;
      ws.send(JSON.stringify({"cmd": "error", "error": e.error}));
    }
    speech.onsoundstart  = function(e) { ws.send(JSON.stringify({"cmd": "soundstart"})); }
    speech.onsoundend    = function(e) { ws.send(JSON.stringify({"cmd": "soundend"})); }
    speech.onspeechstart = function(e) { ws.send(JSON.stringify({"cmd": "speechstart"})); }
    speech.onspeechend   = function(e) { ws.send(JSON.stringify({"cmd": "speechend"})); }
    speech.onresult = function(e) {
      let interim = "";
      let final = "";
      let results = [];
      for (let i = e.resultIndex; i < e.results.length; i++) {
        let r = e.results[i];
        let result = {
          "final": r.isFinal,
          "transcript": r[0].transcript,
          "confidence": r[0].confidence,
        };
        results.push(result);
        if (result.isFinal) {
          final += result.transcript;
        } else {
          interim += result.transcript;
        }
      }
      if (results) {
        ws.send(JSON.stringify({"cmd": "phrase", "results": results}));
      }
      stt_output.innerText = final + interim;
      stt_output.style.fontWeight = "bold";
    }
  }
</script>
</head>
<body>
<div>WebSpeech Proxy:</div>
<div id="textconnected">disconnected</div>
<div id="textrecording">not recording</div>
<div id="texterror"></div>
<div id="stt_output"></div>
</body>
</html>